option_settings:
 
  - option_name: AWS_SECRET_KEY
    value: oJVNDe4LtKnTxiz0tvgbm99+jen9cwtjWkrGHo09
 
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJZFQA3P6DC6AOKXA
 
  - option_name: PORT
    value: 8081
 
  - option_name: MONGO_URL
    value: mongodb://ec2-54-164-80-148.compute-1.amazonaws.com:27017/cbd

  - option_name: ROOT_URL
    value: http://default-environment-4v3k4knqed.elasticbeanstalk.com/
 
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
