option_settings:
 
  - option_name: AWS_SECRET_KEY
    value: akKQGsi/8gbKeRUtrphqhW/SSr/vbYDZ2pO5RU5j
 
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJCZTB5OH3Y3OZVNQ
 
  - option_name: PORT
    value: 8081
 
  - option_name: MONGO_URL
    value: mongodb://ec2-54-148-228-174.us-west-2.compute.amazonaws.com:27017/cbd 

  - option_name: ROOT_URL
    value: http://cbdtwittermap.elasticbeanstalk.com/
 
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
